aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==20.3.0
bidict==0.21.2
chardet==4.0.0
click==7.1.2
dataclasses==0.6
ffmpeg-python==0.2.0
Flask==1.1.2
Flask-SocketIO==4.3.1
future==0.18.2
idna==3.1
imageio==2.9.0
imageio-ffmpeg==0.4.3
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
multidict==5.1.0
numpy==1.19.3
opencv-python==4.5.1.48
Pillow==8.2.0
python-engineio==3.13.2
python-socketio==4.6.0
torch==1.7.0
torchvision==0.8.1
typing-extensions==3.7.4.3
Werkzeug==1.0.1
yarl==1.6.3
youtube-dl==2021.3.14
